body {
background-color: #d6f3b3;
}

.container {
    width: 100%;
    padding-top: 50px;
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
}

.card {
    padding: 0;
}

.form-row {
    justify-content: center;
}

.form-row>.col, .form-row>[class*=col-] {
    padding: 0 5px;
}

.row {
    justify-content: center;
    padding: 20px 0 10px;
}

.btn {
    padding: 10px 20px;
}

label {
    display: flex;
    margin: .9rem 0;
}

